PORT=5000
MONGODB_URI=mongodb+srv://teamtaskadmin:Monu%401234kr@cluster0.sugpbig.mongodb.net/teamtask?retryWrites=true&w=majority
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173